<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Instructivo</title>
</head>
<body>
Instructivo
<p>1. Ingresar a Gmail:</p>
<a href="https://www.gmail.com">Ir a Gmail</a>
<p>iniciar sesion con su cedula de la siguiente manera:</p>

Si su cedula es 73191977 el usuario es 73191977estudiante@unisabaneta.edu.co
y la contraseña es la cedula.

<p> Luego deben aceptar el acceso a la clase de Google Classroom</p>

<p>Para acceder a la transmision del Bootcamp de Azure deben entrar a cualquiera
  de los siguientes enlaces:</p>

Dia 1 Segmento 1 y 2 (8AM - 12 M)
<a href="https://youtu.be/4ioes9iMqp0">Enlace 1</a>

Dia 1 Segmento 3 y 4 (2PM - 6 PM)
<a href="https://www.youtube.com/watch?v=_0pMnqpIUPU">Enlace 2</a>
<p>o desde:</p>
<a href="https://www.twitch.tv/azurebootcampsenaus">Enlace 2 (Respaldo)</a>


Dia 2 Segmento 1 y 2 (8AM - 12 M)
<a href="https://youtu.be/eydVUKK5ftE">Enlace 3</a>
<p>o desde:</p>
<a href="https://www.twitch.tv/azurebootcampsenaus">Enlace 3 (Respaldo)</a>


</body>
</html>
