<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Instructivo</title>
</head>
<body>
Instructivo
<p>1. Ingresar a Gmail:</p>
<a href="https://www.gmail.com">Ir a Gmail</a>
<p>iniciar sesion con su cedula de la siguiente manera:</p>

Si su cedula es 73191977 el usuario es 73191977estudiante@unisabaneta.edu.co
y la contraseña es la cedula.

<p> Luego deben aceptar el acceso a la clase de Google Classroom</p>

<p>Para acceder a la transmision del Bootcamp de Azure deben entrar a cualquiera
  de los siguientes enlaces:</p>
</body>
</html>
